<a href="https://colab.research.google.com/github/YudaAnanda2435/latihan-varibel-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
nama = 'Yuda Ananda'
kelas = 'TI22E'
Nim = '20220040178'
tugas = 'dasar pemerograman sesi 4'

print('nama:', nama)
print('kelas:', kelas)
print('Nim:', Nim)
print('tugas:', tugas)

X = 16
Y = 32
print('X =', X, '=', format(X, '08b')) 
print('Y =', Y, '=', format(Y, '08b'), '\n')

print('[and]') 
print('X & Y =', X & Y) 
print(format(X, '08b'), '^', format(Y, '08b'), '=', format(X & Y, '08b'), '\n')

print('[or]') 
print('X | Y =', X | Y) 
print(format(X, '08b'), '|', format(Y, '08b'), '=', format(X | Y, '08b'), '\n')

print('[not]') 
print('~X ~Y =', ~X, ~Y) 
print('' + format(X, '08b'), '' + format(Y, '08b'), '=', format(~X, '08b'), format(~Y, '08b'), '\n')

nama: Yuda Ananda
kelas: TI22E
Nim: 20220040178
tugas: dasar pemerograman sesi 4
X = 16 = 00010000
Y = 32 = 00100000

[and]
X & Y = 0
00010000 ^ 00100000 = 00000000

[or]
X | Y = 48
00010000 | 00100000 = 00110000

[not]
~X ~Y = -17 -33
00010000 00100000 = -0010001 -0100001